name: CI Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build and Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix :
        os: [ubuntu-latest]

    steps:
      - name: Git Checkout
        uses: actions/checkout@v3
      - name: Rust Toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: Cargo Test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --verbose

    clippy:
      name: Run Clippy
      runs-on: ${{ matrix.os }}
      steps:
        - uses: actions/checkout@v3
        - uses: actions-rs/toolchain@v1
          with:
            profile: minimal
            toolchain: stable
            override: true
            components: clippy
        - name: Run cargo clippy
          uses: actions-rs/cargo@v1
          with:
            command: clippy
            args: --all-targets -- --deny warnings
